//sidebar
$menuBg: #304156;
$subMenuBg: #1f2d3d;
$menuHover: #001528;

/**
 *dic-ui的全局变量
 */

// 字体变量
$dic-font-1: 24px;
$dic-font-2: 18px;
$dic-font-3: 13px;

// 颜色变量
$dic-color-1: #ececec;
$dic-color-2: #ffffff;

// 宽度变量
$dic-width-1: 10px;
$dic-width-2: 15px;




